.cabecera
	margin-left $sidebar
	background lighten($colorCabecera, 20)
	height $cabecera
	position absolute
	z-index 3
	left 0
	right 0
	transition all .5s ease
	@media only screen and (max-width: 768px)
		margin-left initial
	.nav-link
		color white!important
	&.completo
		margin-left initial
		transition all .5s ease
		