.contenido
	position relative
	min-height 100vh
	margin-left $sidebar
	background lighten($contenido, 48)
	padding 10px
	padding-top $cabecera+5px
	transition all .5s ease
	@media only screen and (max-width: 768px)
		margin-left initial
	&.completo
		margin-left initial
		transition all .5s ease