.text-light {
  font-family: 'Lato-Light';
  color: initial !important;
}
.text-regular {
  font-family: 'Lato-Regular';
}
.text-bold {
  font-family: 'Lato-Bold';
}
.text-black {
  font-family: 'Lato-Black';
}
body {
  font-family: 'Lato-Regular';
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
.cabecera {
  margin-left: 250px;
  background: #a1a8ae;
  height: 56px;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 768px) {
  .cabecera {
    margin-left: initial;
  }
}
.cabecera .nav-link {
  color: #fff !important;
}
.cabecera.completo {
  margin-left: initial;
  transition: all 0.5s ease;
}
.side-bar {
  width: 250px;
  position: absolute;
  top: 0;
  min-height: 100%;
  background: #6c757d;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease;
  z-index: 150;
}
.side-bar.ocultar {
  left: -250px;
  transition: all 0.5s ease;
}
.side-bar.ocultar.ver span.background {
  transition: all 0.5s ease;
  z-index: -5;
}
@media only screen and (max-width: 768px) {
  .side-bar.ver span.background {
    cursor: pointer;
    z-index: -1;
    background: rgba(108,117,125,0.45);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    transition: all 0.5s ease;
  }
}
.side-bar .user-panel {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.32), rgba(0,0,0,0.85)), url("https://img.pixers.pics/pho_wat(s3:700/FO/50/28/84/33/700_FO50288433_5d804b2d0dc5a76b4c827ac32124267c.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/wall-murals-abstract-triangles-blue-background-vector-eps10.jpg.jpg");
  background-size: cover;
  display: flex;
  padding: 55px 10px;
  padding-left: 15px;
  border-bottom: 1px solid #fff;
  align-items: center;
}
.side-bar .user-panel .image {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  min-width: 40px;
  height: 40px;
}
.side-bar .user-panel .info {
  padding-left: 15px;
  color: #fff;
}
.side-bar .logo {
  height: 56px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-bar .logo a {
  color: #fff;
}
.side-bar nav.navbar {
  padding: 0;
}
.side-bar nav.navbar .navbar-nav {
  width: 100%;
}
.side-bar nav.navbar .navbar-nav >li:hover >a {
  background: rgba(25,27,29,0.3);
}
.side-bar nav.navbar .navbar-nav >li.active >a {
  background: rgba(25,27,29,0.3);
  transition: all 0.5s ease;
  position: relative;
}
.side-bar nav.navbar .navbar-nav >li.active >a:after {
  background: rgba(25,27,29,0.5);
  left: 0;
  transition: all 0.5s ease;
}
.side-bar nav.navbar .navbar-nav >li.active.has-treeview >a .arrow {
  transform: rotate(-90deg);
  transition: all 0.5s ease;
}
.side-bar nav.navbar .navbar-nav >li.active.has-treeview >ul {
  position: relative;
  opacity: 1;
  transition: opacity 1s ease;
}
.side-bar nav.navbar .navbar-nav >li.active.has-treeview >ul >li:hover a,
.side-bar nav.navbar .navbar-nav >li.active.has-treeview >ul >li.active a {
  color: #fff;
}
.side-bar nav.navbar .navbar-nav >li.active.has-treeview >ul >li a {
  padding-left: 20px;
  display: block;
  color: #bfbfbf;
}
.side-bar nav.navbar .navbar-nav >li.active .nav-treeview {
  padding-left: 0px;
}
.side-bar nav.navbar .navbar-nav >li.active .nav-treeview li {
  display: block;
}
.side-bar nav.navbar .navbar-nav >li.active .nav-treeview li a {
  padding-left: 20px;
  border-bottom: 1px solid rgba(102,102,102,0.45);
}
.side-bar nav.navbar .navbar-nav >li >a {
  padding: 10px;
  padding-left: 10px;
  position: relative;
  display: block;
}
.side-bar nav.navbar .navbar-nav >li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease;
}
.side-bar nav.navbar .navbar-nav >li a:after {
  content: '';
  background: transparent;
  width: 5px;
  height: 100%;
  left: -5px;
  top: 0;
  position: absolute;
  transition: all 0.5s ease;
}
.side-bar nav.navbar .navbar-nav >li a .nav-icon {
  width: 35px;
  text-align: center;
}
.side-bar nav.navbar .navbar-nav >li a p {
  margin: 0;
  display: inline-block;
}
.side-bar nav.navbar .navbar-nav >li a .float-right .arrow {
  transition: all 0.5s ease;
}
.side-bar nav.navbar .navbar-nav >li >ul {
  position: absolute;
  opacity: 0;
  transition: all 1s ease;
  transition: opacity 0s ease;
}
.contenido {
  position: relative;
  min-height: 100vh;
  margin-left: 250px;
  background: #eeeff0;
  padding: 10px;
  padding-top: 61px;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 768px) {
  .contenido {
    margin-left: initial;
  }
}
.contenido.completo {
  margin-left: initial;
  transition: all 0.5s ease;
}
