$bold 	 = 'Lato-Bold'
$light 	 = 'Lato-Light'
$regular = 'Lato-Regular'
$black 	 = 'Lato-Black'

$sidebar = 250px
$cabecera = 56px

$colorSideBar = #6c757d
$colorCabecera = #6c757d
$contenido = #6c757d

$white = #FFFFFF

.text
	&-light
		font-family $light
		color initial!important
	&-regular
		font-family $regular
	&-bold
		font-family $bold
	&-black
		font-family $black

body
	font-family $regular
	min-height 100vh
	position relative
	overflow-x hidden
@import 'cabecera.styl'
@import 'side-bar.styl'
@import 'contenido.styl'
