$azul = #1A4FAB
.side-bar
	width $sidebar
	position absolute
	top 0
	min-height 100%
	background $colorSideBar
	bottom 0
	left 0
	transition all .5s ease
	z-index 150
	&.ocultar
		left ($sidebar * -1)
		transition all .5s ease
		&.ver
			span
				&.background
					transition all .5s ease
					z-index -5
	@media only screen and (max-width: 768px)
		&.ver
			span
				&.background
					cursor pointer
					z-index -1
					background rgba($colorSideBar, .45)
					top 0
					left 0
					right 0
					bottom 0
					position fixed
					transition all .5s ease
	.user-panel
		background-image linear-gradient(to bottom, rgba(darken($colorSideBar, 50), 0.32), rgba(darken($colorSideBar, 60), 0.85)),url('https://img.pixers.pics/pho_wat(s3:700/FO/50/28/84/33/700_FO50288433_5d804b2d0dc5a76b4c827ac32124267c.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/wall-murals-abstract-triangles-blue-background-vector-eps10.jpg.jpg');
		background-size cover
		display flex
		padding 55px 10px
		padding-left 15px
		border-bottom 1px solid $white
		align-items center
		.image
			background-position center
			background-size cover
			border-radius 50%
			min-width 40px
			height 40px
		.info
			padding-left 15px
			color $white
	.logo
		height $cabecera
		background lighten($colorSideBar,60)
		display flex
		justify-content center
		align-items center
		a
			color $white
	nav
		&.navbar
			padding 0
			.navbar-nav
				width 100%
				>li
					&:hover
						>a
							background rgba(darken($colorSideBar, 35), 0.3)	
					&.active
						>a
							background rgba(darken($colorSideBar, 35), 0.3)
							transition all 0.5s ease
							position relative
							&:after
								background rgba(darken($colorSideBar, 35), 0.5)
								left 0
								transition all 0.5s ease
						&.has-treeview
							>a
								.arrow
									transform rotate(-90deg)
									transition all 0.5s ease
							>ul
								position relative
								opacity 1
								transition opacity 1s ease
								>li
									&:hover
									&.active
										a
											color white
									a
										padding-left 20px
										display block
										color darken($white, 25)
										
						.nav-treeview
							padding-left 0px
							li
								display block
								a
									padding-left 20px
									border-bottom 1px solid rgba(darken($white, 60),0.45)
					>a
						padding 10px
						padding-left 10px
						position relative
						display block
					a
						color $white
						text-decoration none
						transition all 0.5s ease
						&:after
							content ''
							background transparent
							width 5px
							height 100%
							left -5px
							top 0
							position absolute
							transition all 0.5s ease
						.nav-icon
							width 35px
							text-align center
						p
							margin 0
							display inline-block
						.float-right
							.arrow
								transition all 0.5s ease
					>ul
						position absolute
						opacity 0
						transition all 1s ease
						transition opacity 0s ease